---
title: 9 Individual Apartment Improvement Requests for Verification
highlight: Tenant Request for Documentation
excerpt: Item 5 deals with Individual Apartment Improvements (IAIs). In this box, the tenant
slug: individual-apartment-improvement-requests-for-verification
order: 14
---

_Item 5 deals with Individual Apartment Improvements (IAIs). In this box, the tenant is to indicate whether or not they wish to request documentation of individual apartment improvements._

### What are IAIs?
`Individual Apartment Improvements` (IAIs) are significant improvements that are made to a rent-regulated unit. These improvements allow for the landlord to collect addition rents. IAIs are not standard repairs but improvements made to the unit. They can include:

- an increase in the unit’s size, for example, adding a new room or a balcony
- new services provided by the landlord, like if the landlord installs a central air conditioner
- substantial improvements that were made to the unit, like new flooring or new windows
- new furniture or furnishings, like a new refrigerator or kitchen cabinets

**Common Examples of an IAI.**  Some common examples of an IAI include new kitchen appliances, kitchen cabinets, bathroom fixtures, new closets, new washing machines, and new flooring. IAIs are not granted for routine maintenance like painting, skim-coating, scraping, or plastering. See  [page 4 of this Operational Bulletin](https://hcr.ny.gov/system/files/documents/2018/09/orao20161.pdf) for more examples.

**Things to Remember.**  If the IAI is made while there is a tenant occupying the unit, the landlord _**must have**_ the written permission of the tenant before they make and improvements. If the unit is not occupied, the landlord does not need any written permission.

Tenants should check this box if they wish two request that their landlord provide them with documentation, such as receipts, invoices, bills or canceled checks, that prove that the IAIs were completed. It is important that tenants request documentation of these improvements because it forces landlords to be held accountable for the improvements they are making. Housing advocates are increasingly finding that landlords will inflate the cost of these improvements or not actually make the improvements at all. This is done in an effort to deregulate the unit by moving the unit’s rent closer to the legal deregulation threshold.

**Timeline.** If the tenant does not request documentation for IAIs at lease signing, they have up to 60 days—about 2 months—from when the lease signed to request those documents. After that, they do not have the legal right to make that request. If they make that request, it should be made by certified mail, and the landlord has 30 days from when that request is made to provide the proper documentation.

For more comprehensive information on IAIs, see [page 4 of this Operational Bulletin](https://hcr.ny.gov/system/files/documents/2018/09/orao20161.pdf) that supersedes Fact Sheet #12.
